body {
  font-family: "Montserrat", sans-serif;
}

.carousel-inner img {
  width: 700px;
  height: 700px;
}

/* Top */
#top {
  background-color: #ffa45b;
  height: 100px;
  padding-top: 25px;
}

#top .navbar-brand {
  padding-left: 2rem;
  color: #aee6e6;
  font-size: 2.5rem;
  line-height: 1.5;
}

#top .nav-link {
  color: #aee6e6;
}

.container-fluid {
  padding: 3% 7%;
}

.fluid-1 {
  padding-bottom: 7%;
}

/* Carousel */
#carousel {
  padding: 3% 10%;
}

/* search-box */
#search-box {
  padding: 7% 15%;
  background-color: #ffa45b;
}

#infoBox h1 {
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  font-family: "Montserrat-Black", sans-serif;
  color: #aee6e6;
  text-align: center;
}

#search .inputs {
  text-align: center;
}

#infoBox .images {
  margin-top: 2.5rem;
  text-align: center;
}
#infoBox .images img {
  box-shadow: 2px 2px 4px 0 #333;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 1.5em;
  padding: 1em;
  height: 400px;
  width: 400px;
  background-color: #aee6e6;
  margin-left: 0.5rem;
}

#infoBox .poke-info {
  margin-top: 2.5rem;
  text-align: center;
}

.poke-info h3 {
  display: inline;
  margin-left: 2rem;
}
