html {
  height: 100%;
}
body {
  background-size: cover;
  height: 100%;
}
#home, #searchbytype {
  overflow-y: hidden;
}
#home, #searchbyname, #about {
  background-image: url('assets/ruby-sapphire-intro-gradient.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* search-box */
#search-box {
  padding: 2% 15%;
  background-size: cover;
}
#search-box h1 {
  text-shadow: 2px 2px 3px rgba(0,0,0,.55);
}
#infoBox h1 {
  font-weight: bolder;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 3rem;
  color: #ffffff;
  text-align: center;
}
#search .inputs {
  text-align: center;
}
#userInput{
  font-size: 1.5rem;
  opacity: .85;
  border: none;
  border-radius: 5px;
}
#submit{
  font-size: 1.5rem;
  border: none;
  outline: none;
  opacity: .90;
}
#submit:active {
  opacity: 1.0;
}
#infoBox .images {
  margin-top: 2.5rem;
  text-align: center;
  padding-bottom: 10%;
}
#infoBox .images .card {
  box-shadow: 2px 2px 4px 0 #333;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 1.5em;
  padding: 1em;
  background-color: #f4523b;
  background-image: linear-gradient(rgb(244, 82, 59, 1), rgba(0,0,0,.35));
  margin-left: auto;
  margin-right: auto;
}
#infoBox img {
  border-radius: 0;
}
#infoBox .card-body {
  margin: auto;
}
#infoBox .poke-info {
  margin-top: 2.5rem;
  text-align: center;
}
#sprite, #name, #idNum, #type,
#spriteShiny, #nameShiny, #idNumShiny, #typeShiny {
  background-color: #333;
  color: #ffffff;
}
.sprites {
  display: flex;
  justify-content: center;
}
.poke-info h3 {
  display: inline;
  margin-left: 2rem;
}
/* Footer */
#footer {
  background-color: #333;
  color: #ffffff;
  width: 100%;
  height: 6%;
}
.nonstickyfooter {
  position: relative;
  bottom: 0;
}
.stickyfooter {
  position: fixed;
  bottom: 0;
}
#footer .fab:hover,
#footer .fas:hover {
  color: #e6e6e6;
}
.card-text {
  text-align: left;
}
#footer a {
  color: white;
}
i:hover {
  transform: scale(1.2)
}
.image-grid-container { 
  display: grid; 

  /* For 2 columns */ 
  grid-template-columns: auto auto; 
}

.about-us {
  text-align: center;
  padding: 2% 15% 6%;
  text-shadow: 2px 2px 3px rgba(0,0,0,.55);
  color: #ffffff;
}
.about-us img {
  height: 15rem;
}
.about-us #images {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.about-us #text1 {
  font-size: 25px;
  text-align: justify;
}
#videoDiv {
  background-color: rgba(0,0,0,1);
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:-1;
}
.overlay img{
  position:absolute;
  left:0;top:0;
  width:100%;
  height:100%;
  object-fit:cover;
  pointer-events:none;
}
#home-page {
  height: 100%;
  background-size: 100%;
  text-align: center;
  padding: 2% 15%;
  text-shadow: 4px 4px 4px rgba(0,0,0,.55);
  color: #ffffff;
}
#home-page h1 {
  font-size: 120px;
  font-weight: bolder;
  margin-top: 14rem;
}
#home-page #logo {
  opacity: .85;
  margin-top: 10rem;
}
#home-page #buttons {
  margin-top: 5rem;
}