body{
    background-color: rgba(218, 209, 209, 0.404);
    background-image: url('assets/ruby-sapphire-intro-gradient.jpg');
}
.buttons { 
    padding: 10px;
}
.buttons img{
    max-width:100px;
    height:auto;
    opacity: .8;
}
.buttons img:hover {
  transform: scale(1.04)
}
.buttons img:active {
  translate: 0 2px;
}
.buttons-container{
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}
.buttons-container ul{
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    min-width: 1096px;
}
.buttons-container ul li{
    display: inline;
    padding-right: 25px;
    cursor:pointer;
}
.list{
    margin: auto;
    max-width: 410px;
    max-height: 700px;
    overflow-y:auto;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}
.pokemonEntry{
    margin: 0 auto;
    border: 3px solid rgba(185, 159, 159, 0.774);
    background-color: rgba(15, 91, 179, 0.109);
    border-radius: 5px;
    max-width: 400px;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    display: flex;
    text-shadow: 0px 0px 15px rgb(192, 190, 190);

}
.sprites{
    max-width:25%;
    height:auto;
    flex: 0;
    opacity: .9;
}
.names{
    font-family: 'Zilla Slab', serif;
    flex: 1;
    margin: auto;
    width: 50%;
    padding: 10px;
    opacity: .8;
}
.stats{
    height: 32px;
    margin: 0 auto;
    margin-top: 7px;
    font-size: 12px;
    opacity: .65;
    /* display: flex; */
    font-family: 'Raleway', sans-serif;
    
}
.stats li{
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    width: 40px;
    list-style-type: none;
    text-align: center;
    margin: auto;
}
.hp{
    background-color: rgb(180, 2, 2);
    
}
.attack{
    background-color: rgb(5, 107, 5);
}
.defense{
    background-color: rgb(77,144,213);
}
.speed{
    background-color: black;
}